<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{site.title}}</title>
    <meta name="description" content="{{site.description}}">

    <!-- Styles -->
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    {{> hero}}
    {{> partners}}
    {{> popular-games}}
    {{> how-it-works}}
    {{> trending-games}}
    {{> testimonials}}
    {{> instagram}}
    {{> footer}}

    <script src="/js/main.js"></script>
</body>
</html>
